/*IMPORTACOES DE FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
/*
CSS rules to specify families
font-family: 'Montserrat', sans-serif;
font-weight:bold or litght etc....

*/
/*---------FIM IMPORTACOES*/


/* INICIO PARAMETROS GERAIS */

* {

  margin: 0;
  padding: 0;
}

body{

  font-size: 1em;
  font-family: "Montserrat" , sans-serif;
  background: #ffffff;

}

ul{

  list-style: none;
}

a {

  text-decoration: none;
}



/* ------ FIM PARAMETROS GERAIS ------ */

/*INICIO AREA TOP */

#area-top{


  height: 150px;
  background: #000000;
  font-weight: bold;
}

.logo{

  float: left;
  padding: 15px;
  margin: 5px;
  text-indent: -9000px;
  background: orange  url("../imagens/logo.png") no-repeat;
  width: 100px;
  height:80px;


}

#nav-top{

  float: right;
  margin-right: 40%;
  margin-top: 50px;


}

/* INICIO NAV TOP */


#nav-top  li {

  padding: 15px;
  display: inline;
}

#nav-top li a {


  font-size: 1.2em;
  padding: 10px;
  color: #FFFFFF;
}

#nav-top li a:hover{

  color: #ffffff;
  border-top: 2px solid #ffffff;
}

/* ------ FIM NAV TOP ------ */

/* ------ FIM AREA TOP ------ */

/* INICIO LAYOUT PRINCIPAL */

#slide{


  width: 100%;
}

#slide img{

  width: 100%;
}

#principal{

  padding: 15px;
  width: 50%;
  margin: 0 auto;

}

/* ------ FIM LAYOUT PRINCIPAL ------ */
