/*IMPORTACOES DE FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
/*
CSS rules to specify families
font-family: 'Montserrat', sans-serif;
font-weight:bold or litght etc....
*/
/*---------FIM IMPORTACOES*/


/* RESETS PARAMETROS GERAIS */

* {
  margin: 0;
  padding: 0;
}
ul{

  list-style: none;
}

a {

  text-decoration: none;
}

body{

  font-size: 1em;
  font-family: "Montserrat" , sans-serif;
  background: #fffff;

}
/* ------ FIM PARAMETROS GERAIS ------ */

/*INICIO AREA TOP */

#area-top{
  position: relative;
  width: 100%;
  overflow: auto;
  background: #1c1c1c;
  font-weight: bold;

}

.logo{

    margin-bottom:5px;
    margin-top: 5px;
    margin-left: 34%;
    float: left;

}

#nav-top{
  margin-left: 5px;
  margin-top: 10px;
  float: left;
  color: white;

}

#nav-midias{
    margin-right: 5px;
    margin-top: 10px;
    float: right;


}

.midias li {

  display: inline-flex;

}
